*{
  padding: 0;
  margin: 0;
  box-sizing:  border-box;
}
header {
  background-color: #3333;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px;
}
h1 {
  
  font-size: 1rem
}
main{
  padding: 10px;
}
.form
{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap : 17px;
}
button
{
  font: bold;
  border: 1px solid black;
  background: #3333;
  grid-column: 1 / -1;
}
input {
  padding: 5px;
}